/* General layout for the page */
.homePage {
    font-family: Arial, sans-serif;
  }
  

  
  
  .cta {
    background-color: #f08a5d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .authPrompt {
    text-align: center;
    margin: 40px 0;
  }
  
 